//@import "bourbon"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/scss/fontawesome"
@import "app/libs/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/scss/fa-brands"
@import "app/libs/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/scss/fa-regular"
@import "app/libs/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/scss/fa-solid"
@import "app/libs/slick-1.8.1/slick/slickk.scss"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

a
	outline: none!important
	color: #fff
	&:hover
		color: #111
		text-decoration: none
		cursor: pointer
	&:focus, &:active
		color: #fff

html::-webkit-scrollbar
	width: 0px

html
	-ms-overflow-style: none


body
	font-size: 16px
	min-width: 100vw
	min-height: 100vh
	max-height: 100vh
	position: relative
	line-height: 1.6
	font-family: "AvenirNextCyrBold", sans-serif
	overflow-x: hidden
	color: #3eb4f1
	background-color: #fff
	margin: 0

a
	text-decoration: none
	

header
	margin: 0

.page-wrap
	padding: 30px 4.5%

.header-sm
	font-family: "AvenirNextCyrSemiBold", sans-serif
	font-weight: 600
	display: none
	flex-direction: row
	justify-content: space-between
	align-items: center
	width: 100%
	.lang
		a
			color: #5a5a5a
		.lang-ru
			border-right: 2px solid #000
			padding-right: 4px

.header-sm-p
	font-family: "AvenirNextCyrSemiBold", sans-serif
	font-weight: 600
	display: none
	flex-direction: row
	justify-content: space-between
	align-items: center
	width: 100%
	padding: 15px 0
	.fas
		color: #fff
	.lang
		a
			color: #000
			&:first-child
				border-right: 2px solid #000
				padding-right: 4px

.hidden
	background-color: #fff
	width: 95vw
	height: 100vh
	z-index: 100
	position: absolute
	display: none
	top: 0
	left: 0
	padding: 0 2.5vw
	flex-direction: column
	justify-content: flex-start
	align-items: center
	>a
		border: 2px solid #000
		border-radius: 50%
		position: absolute
		top: 25px
		right: 25px
		font-size: 25px
		padding: 0 12px
		cursor: poiner
		color: #3eb4f1
	.auth-sm
		display: flex
		flex-direction: column
		align-items: center
		font-size: 24px
		text-transform: uppercase
		margin-top: 100px
		padding-bottom: 20px
		border-bottom: 2px solid #000
		margin-bottom: 20px
		.fas
			color: #000
			margin-bottom: 10px
		.auth-item
			color: #000
	.menu-sm
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		.menu-itm
			background-color: #3eb4f1
			display: flex
			justify-content: center
			align-items: center
			margin: 0 10px
			width: 100vw
			font-size: 20px
			margin-bottom: 10px
			text-transform: uppercase
			text-decoration: none
			height: 50px
			font-weight: 700
			font-family: AvenirNextCyrSemiBold, sans-serif


.header
	font-family: "AvenirNextCyrSemiBold", sans-serif
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	width: 100%
	.header-menu
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		font-size: 0.9em
		margin-left: -20px
		.menu-itm
			height: 50px
			padding: 0 20px
			display: flex
			justify-content: center
			align-items: center
			color: #3eb4f1
			outline: none!important
			text-decoration: none
			transition: all 1s ease
			font-family: "AvenirNextCyrSemiBold", sans-serif
			&:hover
				color: #fff
				background-color: #3eb4f1
				transition: all 0.5s ease
		img
			margin: 20px 40px 20px 20px
	.header-auth
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		text-transform: uppercase
		font-weight: 600
		.auth-item
			color: #000
			font-size: 0.8em
			padding: 0 10px
			outline: none!important
			text-decoration: none
			transition: all 0.5s ease
			&:hover
				color: #555
				text-decoration: underline
				transition: all 0.5s ease
			.fas
				margin-right: 1em
		.lang
			font-size: 0.7em
			padding-left: 15px
			a
				padding: 0 5px
				color:  #5a5a5a
				&:first-child
					border-right: 2px solid #000

.active
	color:  #fff!important

.main
	margin-left: 15px
	display: flex
	height: 70vh
	flex-direction: column
	justify-content: center
	.main-bg
		.bg-one
			position: absolute
			top: 0
			right: 0
			z-index: -2
			height: auto
			width: 40vw
			opacity: 1
			transition: opacity 0.4s ease
		.bg-two
			position: absolute
			top: 22vh
			right: 20vw
			z-index: -1
			height: auto
			width: 13vw
			opacity: 1
			transition: opacity 0.4s ease
	.main-text
		margin-top: -30px
		font-weight: 800!important
		text-transform: uppercase
		width: 55%
		display: flex
		flex-direction: column
		justify-content: center
		>div
			font-size: 1.9vw
		p
			font-size: 0.8vw
	.main-btns
		display: flex
		flex-direction: column
		justify-content: space-between
		padding-left: 70px
		height: 200px
		width: 400px
		position: absolute
		bottom: 50px
		z-index: -1
		p
			color: #dadada
			width: 100%
			text-align: justify
			display: flex
			justify-content: space-between
			margin: 0
		.main-btn
			font-family: "AvenirNextCyrSemiBold", sans-serif
			position: absolute
			background-color: #f47032
			text-transform: uppercase
			font-weight: 600
			border-radius: 5px
			text-decoration: none
			padding: 15px 65px
			box-shadow: 1px 3px 15px #000
			font-size:  1.2vw
			left: 0
			bottom: 5vh
			&:hover
				box-shadow: 0px 0px 5px #000

h1
	font-size: 24px
	color: #000
	text-transform: uppercase
	font-family: "AvenirNextCyrBold", sans-serif
	font-weight: 700
	text-align: center
	position: relative
	padding: 30px 0 0 0
	margin-top: 0


//main
.arrow-left, .arrow-right
	position: absolute
	font-size: 62px
	top: calc(50% - 31px)
	color: #7f7f7f

.arrow-left
	left: -33px
.arrow-right
	right: -33px


.audit
	.page-wrap-p
		display: flex
		align-items: center
		flex-direction: column
		h1
			margin-bottom: 30px
		.sliderr
			width: 90%
			.slick
				.itm
					display: flex
					flex-direction: column
					outline: none!important
					padding: 0
					width: 25wv!important
					height: 60vh
					margin: 0 2.5vw
					box-shadow: -1px 3px 15px #5a9fe0
					border-radius: 7px
					overflow: hidden
					margin-bottom: 20px
					margin-top: 0px
					&:hover
						img
							display: none
						.audit-itm-h
							display: flex
							transition: all 0.5s ease
						>p
							font-size: 1.4vw
							margin: 35px 0 20px
							&:before
								height: 0px
					img
						width: 100%
						height: auto
					>p
						text-align: center
						display: flex
						flex-direction: row
						justify-content: center
						align-items: center
						margin: 35px 0 40px
						font-size: 1.3vw
						color: #5b5b5b
						font-family: "AvenirNextCyrSemiBold", sans-serif
						font-weight: 600
						position: relative
						&:before
							content: ''
							width: 40%
							height: 1px
							left: 30%
							position: absolute
							bottom: -20px
							background-color: #5b5b5b
					.audit-itm-h
						display: none
						flex-direction: column
						height: 100%
						justify-content: space-between
						align-items: center
						transition: all 0.5s ease
						.audit-itm-btn
							width: 60%
							margin: 30px 0 20px
							border: 3px solid #5a9fe0
							color: #5a9fe0
							flex-direction: row
							justify-content: center
							align-items: center
							text-align: center
							text-transform: uppercase
							padding: 5px 10px
							cursor: pointer
							&:hover
								background-color: #5a9fe0
								color: #fff
						p
							display: flex
							flex-direction: row
							justify-content: center
							align-items: center
							margin: 0 30px
							text-align: center
							font-size: 0.831em
		.audit-steps
			display: flex
			flex-direction: row
			justify-content: space-around
			align-items: center
			margin-top: 30px
			.audit-step
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				position: relative
				width: 15vw
				margin: 0 2%
				p
					position: absolute
					width: 100%
					height: 17px
					left: 0
					position: absolute
					bottom: -20px
					background-color: #e2e2e2
				span 
					color: #e2e2e2
				i
					color: #e2e2e2
					font-size: 20px
		h3
			color: #5a9fe0
			text-align: center
			font-size: 20px
			margin-top: 50px

.result
	font-size: 89%
	background-color: #243552
	padding-bottom: 30px
	.page-wrap-p
		h1
			color: #fff
			margin-bottom: 10px
			margin-top: 0
			padding-top: 30px
		.result-info
			display: flex
			flex-direction: row
			canvas
				width: 85%
				height: 450px
			.result-info-nums
				width: 5%
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				margin-bottom: -13px
				color: #fff
				span
					margin-top: 24px
			.result-info-descr
				width: 20%
				display: flex
				flex-direction: column
				align-items: flex-end
				padding-left: 20px
				.result-info-descr-itm
					display: flex
					flex-direction: column
					align-items: flex-end
					margin-bottom: 50px
					&:nth-child(1)
						div
							background-color: #2eb42e
					&:nth-child(2)
						div
							background-color: #00aeef
					&:nth-child(3)
						div
							background-color: #f26522
					p
						text-align: right
						color: #fff
					div
						width: 30px
						height: 30px
						border-radius: 50%
						margin-top: 10px
		.result-stats
			display: flex
			flex-direction: row
			justify-content: space-between
			margin-left: 12%
			width: 69%
			margin-top: 10px
			.result-stats-itm
				display: flex
				color: #fff
				flex-direction: column
				text-align: center
				p
					font-size: 1.7em
				div


.services
	font-size: 67%
	background-image: url(../img/section3/logo-r.png)
	background-repeat: no-repeat
	background-position: left bottom
	background-size: 50% 90%
	h1
		span
			width: 250px
			height: 3px
			background-color: #5a9fe0
			position: absolute
			bottom: -30px
			left: calc(50% - 125px)
	.services-info
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		margin-top:  60px
		img
			width: 40vw
			height: auto
		.services-info-text
			padding-left: 40px
			font-family: "AvenirNextCyrSemiBold", sans-serif
			width: 50%
			position: relative
			z-index: 1
			span
				width: 3px
				height: 15vw
				background-color: #5a9fe0
				position: absolute
				left: 0px
				top: calc(50% - 7.5vw)
			p
				margin: 0 0 2vw
				font-weight: 600
				font-size: 1vw
				&:nth-child(4)
					margin-bottom: 0
	.services-icons
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-end
		margin-top: 50px
		margin-bottom:  50px
		.icons
			display: flex
			flex-direction: row
			margin-bottom: 30px
			&:nth-child(2)
				margin-right: 75px
			.icons-itm
				width: 110px
				height: 110px
				background-color: #f0f0f0
				border-radius: 50%
				box-shadow: 1px 2px 10px #000
				margin-left: 40px
				transition: all 0.5s ease
				img
					width: 100%
					height: 100%
					border-radius: 50%
				&:hover
					background-color: #585858
					transition: all 0.5s ease


.materials
	font-size: 67%
	background-image: url(../img/section4/logo-l.png)
	background-repeat: no-repeat
	background-position: 100% 0%
	background-size: 60% auto
	h1
		span
			width: 250px
			height: 3px
			background-color: #5a9fe0
			position: absolute
			bottom: -30px
			left: calc(50% - 125px)
	.materials-info
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		margin-top:  100px
		padding-bottom: 100px
		img
			width: 50%
			height: auto
		.materials-info-text
			padding-left: 40px
			font-family: "AvenirNextCyrSemiBold", sans-serif
			width: 50%
			position: relative
			span
				width: 3px
				height: 10vw
				background-color: #5a9fe0
				position: absolute
				left: 70px
				top: calc(50% - 5vw)
			p
				margin: 0 100px 2vw 100px
				font-weight: 600
				font-size: 1vw
				&:nth-child(3)
					margin-bottom: 0


.offer
	background-color: #2d3c58
	padding-top: 50px
	position: relative
	img
		position: absolute
		width: 45vw
		height: auto
		top: -70px
		left: 0
	.offer-info
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 40%
		margin-left: 55%
		p
			color: #fff
			margin: 0 0px 50px 0px
			font-weight: 600
			font-size: 1.2vw
			&:nth-child(2)
				margin-bottom: 0
		a
			text-transform: uppercase
			color: #fff
			border-radius: 5px
			margin: 60px 0 70px 0
			font-weight: 700

.steps
	color: #343434
	font-family: "AvenirNextCyrSemiBold", sans-serif
	font-weight: 600
	h1
		span
			width: 250px
			height: 3px
			background-color: #5a9fe0
			position: absolute
			bottom: -30px
			left: calc(50% - 125px)
	.steps-info
		display: flex
		flex-direction: column
		margin-top: 30px
		margin-left: 50px
		.step
			display: flex
			flex-direction: row
			align-items: center
			margin-top: 25px
			.step-title
				display: flex
				justify-content: center
				align-items: center
				color: #5a9fe0
				position: relative
				background-color: #fff
				width: 16vw
				height: 6.5vw
				text-align: center
				box-shadow: 0px 0px 5px #dadada
				font-size: 1.2em
				font-family: "AvenirNextCyrBold", sans-serif
				font-weight: 700
				span
					position: absolute
					left: 5px
					bottom: 5px
					color: #b4cdda
					font-size: 14px
				.btm
					width: 100%
					position: absolute
					bottom: -12px
					z-index: -1
			.step-info
				width: 80%
				margin-left: 60px
				font-size: 0.9em
	h3
		color: #5a9fe0
		text-align: center
		font-size: 20px
	p
		margin-left: 100px
		margin-bottom: 50px
		font-size: 0.9em
	.steps-btn
		margin: 50px auto 80px
		display: flex
		justify-content: center
		align-items: center
		.btn
			padding: 12px 50px
			border-radius: 3px

.footer-p
	background-color: #5a9fe0
	font-family: "AvenirNextCyrBold", sans-serif
	font-weight: 500
	color: #fff
	.footer-p-wrap
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		padding: 30px 6% 50px 6%
		.footer-p-itm
			width: 23%
			margin: 0 1%
			display: flex
			flex-direction: column
			&:nth-child(4n)
				color: #dfdfdf
			h4
				font-size: 22px
				font-size: 96%
				text-transform: uppercase
				margin: 10px 0
			a
				font-size: 18px
				font-size: 96%
				margin: 10px 0


.grey
	color: #dfdfdf

//blog
.menu-a
	color: #3eb4f1!important
	transition: all 0.5s ease!important
	position: relative
	padding: 0 0 10px 0
	&:before
		content: ''
		position: absolute
		width: 25%
		height: 2px
		background-color: #3eb4f1
		left: 0
		bottom: 0
	
.page-a
	border-color: #3eb4f1!important



.blog
	.page-wrap-p
		display: flex
		flex-direction: row
		.side-menu
			height: 100%
			width: 25vw
			display: flex
			flex-direction: column
			margin-top: 50px
			.side-menu-m
				display: flex
				flex-direction: column
				margin-right: 2vw
				.menu-m-itm
					color: #2f2f2f
					font-size: 0.8em
					transition: color 0.4s ease
					transition: all 0.5s ease
					margin-bottom: 10px
					&:hover
						color: #3eb4f1
						transition: color 0.4s ease
			.side-menu-f
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				text-align: center
				box-shadow: 0px 3px 10px #d9d9d9
				padding: 5%
				width: 90%
				margin: 50px 0
				p
					color: #3eb4f1
					font-size: 14px
					margin-bottom: 40px
				input
					border: none
					border-bottom: 1px solid #d9d9d9
					color: #d9d9d9
					font-size: 16px
					margin-bottom: 20px
					color: #999!important
					&:focus, &:active
						outline: none
						border-color: orange
				a
					font-size: 16px!important
					width: 75%
					padding-top: 10px
					padding-bottom: 10px
					margin-bottom: 20px
					box-shadow: 1px 3px 15px #555
					border-radius: 3px
					background-color: #f47032
					&:hover
						box-shadow: 0px 0px 5px #555
			.side-menu-s
				display: flex
				flex-direction: column
				align-items: center
				width: 100%
				h6
					color: #000
					font-weight: 700
					font-size: 16px
					margin: 0
				p
					color: #929292
					font-size: 14px
					margin: 7px
				.menu-s-social
					display: flex
					flex-direction: row
					justify-content: space-between
					width: 100%
					margin: 30px 0
					.s-social-itm
						display: flex
						flex-direction: column
						justify-content: center
						align-items: center
						border-radius: 50%
						width: 40px
						height: 40px
						font-size: 22px
						&:nth-child(1)
							background: linear-gradient(to bottom right, #5e2bae, #472092)
							font-size: 25px
						&:nth-child(2)
							background: linear-gradient(to bottom right, #5b759e, #405d8d)
						&:nth-child(3)
							background: linear-gradient(to bottom right, #71b3e4, #518fc4)
							font-size: 25px
						&:nth-child(4)
							background: linear-gradient(to bottom right, #52598c, #3c446e)
						&:nth-child(5)
							background: linear-gradient(to bottom right, #b4271c, #8f1b18)
		.blog-main
			width: 75vw
			margin-left: 3vw
			.breadcrumbs
				color: #929292
				display: flex
				flex-direction: column
				justify-content: center
				align-items: flex-start
				height: 50px
				font-size: 18px
			.article
				display: flex
				flex-direction: row
				flex-wrap: wrap
				margin-bottom: 80px
				justify-content: space-between
				width: 100%
				margin-left: -1.5%
				margin-top: -1.5%
				.article-itm
					width: 30%
					margin: 1.5%
					&:hover
						>div
							p
								color: #3eb4f1
								font-weight: 600
								&:before
									background-color: #3eb4f1
					&:nth-child(1)
						width: 63.5%
						position: relative
						>div
							position: absolute
							left: 0
							padding-left: 2%
							bottom: 7px
							padding-bottom: 3%
							background: rgba(255, 255, 255, 0.7)
					img
						width: 100%
						border-radius: 4px
					>div
						width: 100%
						h4
							color: #353535
						p
							color: #353535
							position: relative
							padding-left: 28%
							font-size: 14px
							&:before
								content: ''
								position: absolute
								width: 25%
								height: 2px
								background-color: #000
								left: 0
								top: calc(50% - 1px)

			.pagination
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				margin-bottom: 50px
				a
					color: #929292
					font-size: 18px
					&:hover
						color: #929292
				.page
					border: 1px solid #929292
					border-radius: 5px
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					width: 40px
					height: 40px
					margin-right: 15px
					&:hover
						border-color: #3eb4f1!important




//ALWAYS END
@import "media"
